*{
    box-sizing: border-box;
}
body{
    background-color: #040f0f; 
}
a{
    text-decoration: none;
}
body > nav > div > div > a{
    color: #EEC643;
}
#exampleModal > div > div > div.modal-header,  div.modal-body{
    color: black;
}
#search-results{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#displayMyMovie{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
#displayModal{
    text-align: left;
    text-overflow: none;
}
#modal-content{
    background-color: #FFFAF1;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}