*{
    box-sizing: border-box;
}
body{
    background-color: #040f0f; 
}
a{
    text-decoration: none;
}
body > nav > div > div > a{
    color: #EEC643;
}
#exampleModal > div > div > div.modal-header,  div.modal-body{
    color: black;
}
#search-results{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#displayMyMovie{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
#displayModal{
    text-align: left;
    text-overflow: none;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.modal-content {
	background-color: #1e2229;
}

#myModal > div > div > div.modal-body, #myModal > div > div > div.modal-header{
    color: white;

}
.modal-header,
.modal-content, .modal-footer {
	border-color: #424242;
}
#image{
    height: 15vw;
    border-radius: 10px;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 0.9rem;    
}
.pagination > li > a
{
    background-color: #424242;
    border-color: #424242;
    color: tomato;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: tomato;
    background-color: black;
    border-color: tomato;
}